body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.validationElement{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formElement{
  display: flex;
  margin: 10px 20px;
  justify-content: left;
}

#tagsDiv,#remindersDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notificationElement{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.markDel{
  display: flex;
  justify-content: space-between;
}

.markInc{
  display: inline;
}


.nav-tabs .nav-item .plain.nav-link {
  color: #0d6efd;
}

.nav-tabs .nav-item .warning.nav-link {
  color: #ffc107;
}

.nav-tabs .nav-item .danger.nav-link {
  color: #dc3545;
}

.nav-tabs .nav-item .success.nav-link {
  color: #198754;
}



.tab-content {
  border-top: transparent;
  padding: 15px;
}

